DVA[[:space:]]Disasters/DATA/*.csv filter=lfs diff=lfs merge=lfs -text
DVA[[:space:]]Disasters/DATA/NRI_Shapefile_CensusTracts/*.dbf filter=lfs diff=lfs merge=lfs -text
DVA[[:space:]]Disasters/DATA/NRI_Shapefile_CensusTracts/*.shp filter=lfs diff=lfs merge=lfs -text
